html{
	background-color: #FF0066;
	

}

h1{
	color: #fff;
	font-family:'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	line-height: 48px;
	margin-top: 48px;

}

h2{
color: #FFF;
font-family: "Josefin Sans",sans-serif;
text-align: center;
font-size: 2em;
font-weight: 300;
margin-bottom: 36px;
margin-top: -18px;

}

p{

color: #FFF;
font-family: "Josefin Sans",sans-serif;
text-align: center;
font-size: 1em;

}