html{
	background-color: #FF0066;
	

}

h1{
	color: #fff;
	font-family:'Josefin Sans', sans-serif;
	text-align: center;
	font-size: 4em;
	font-weight: 100;
	line-height: 48px;
	margin-top: 48px;

}

h1:hover{
	font-size: 5em;
}

h2{
color: #FFF;
font-family: "Josefin Sans",sans-serif;
text-align: center;
font-size: 2em;
font-weight: 300;
margin-bottom: 36px;
margin-top: -18px;

}

p{

color: #FFF;
font-family: "Josefin Sans",sans-serif;
text-align: center;
font-size: 1em;

}

.wrapper{
	position: relative;
	margin: 0 auto;
	width:300px;

}

.container{
	height: 300px;
	width:300px;
	border-radius: 300px;
	background-color: #1281a6;
	cursor: pointer;

	overflow: hidden;
}

.image{
height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("Tjejerkodar_stickers.png");
}